/*Variables*/
/*General reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #ee4266;
  color: white;
}

::-moz-selection {
  background: #ee4266;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#home {
  background-color: #12B1CF;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home h1 {
  color: #FFD708;
  font-size: 5rem;
  transition: 0.3s all ease;
}
#home h1:hover {
  text-shadow: -2px 2px blue, -3px 3px blue, -4px 4px blue, -5px 5px blue, -6px 6px blue, -7px 7px #ee4266, -8px 8px #ee4266, -9px 9px #ee4266, -10px 10px #ee4266, -11px 11px #ee4266, -12px 12px #ee4266;
}
@media (max-width: 700px) {
  #home h1 {
    word-break: break-all;
  }
}
#home h2 {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 300;
  text-align: center;
  color: white;
}
#home div.main {
  height: 60%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  border: 1px solid #FFD708;
  box-shadow: -30px 30px 0 0 rgba(52, 84, 209, 0.2);
  transition: 0.2s all ease;
}
@media (max-width: 600px) {
  #home div.main {
    width: 90%;
    height: 90%;
    padding: 15px;
    box-shadow: -10px 10px 0 0 rgba(52, 84, 209, 0.2);
  }
}
#home div.main:active {
  box-shadow: -20px 20px 0 0 rgba(52, 84, 209, 0.2);
}
#home div.main .social {
  width: 100%;
}
#home div.main .social ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
#home div.main .social ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
}
#home div.main .social ul li svg {
  height: 30px;
  width: 30px;
  fill: #ee4266;
  margin-bottom: 5px;
}

#home div.main .social ul li svg:hover {
  fill: red;
  animation: hue 2s infinite;
}

.jaune {
  background-color: #FFD708;
  color: black;
}

.bleu {
  background-color: blue;
}

.rose {
  background-color: #ee4266;
}

/*Keyframes for svg on :hover animation*/

@keyframes hue {
  0% {
   -webkit-filter: hue-rotate(0deg);
  }
  100% {
   -webkit-filter: hue-rotate(360deg);
  }
}